[Desktop Entry]
Version=0.0.4
Type=Application
Name=Kopalne Rzemiosło
Comment=Game
Icon=resources/ikona.ico
Exec=bin/kopalnerzemioslo
Terminal=true
Categories=Game;
