[Desktop Entry]
Version=3.0
Type=Application
Name=Kopalne Rzemiosło
Comment=Game
Icon=resources/ikona.ico
Exec=bin/KopalneRzemioslo
Terminal=true
Categories=Game;
